{% extends 'menu/base.html' %}

{% block content %}

<h1 class="text-4xl font-bold mb-6">
    Panel Trabajador
</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">

    {% for orden in ordenes %}

        <div class="bg-white p-6 rounded shadow">

            <h2 class="text-2xl font-bold">
                {{ orden.empresa }}
            </h2>

            <p class="mt-2">
                {{ orden.get_estado_display }}
            </p>

            <p>
                Tiempo restante:
                {{ orden.tiempo_restante }} min
            </p>

            <a
                href="{% url 'cambiar_estado' orden.id %}"
                class="bg-blue-600 text-white px-4 py-2 rounded inline-block mt-4"
            >
                Avanzar Estado
            </a>

        </div>

    {% endfor %}

</div>

{% endblock %}